* {
    box-sizing: border-box;
    margin: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header {
    background-color:  #000000;
    color: #ffffff;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
}

div{
    text-align: center;
    border: solid 1px;
}
/* Emplihar blocos*/
.left {
    background-color: #2196f3;
    padding: 20px;
    float: left;
    width: 25%;/*Tamanho padrão 25%*/
}

.main {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 50%;/*Tamanho padrão 50%*/
}

.right {
    background-color: #04AA60;
    padding: 20px;
    float: left;
    width: 25%;/*Tamanho padrão 25%*/
}

/* Consulta de mideia para uma tela de até 800px */
@media screen and (max-width: 800px){
    .left, .main, .right {
        width: 100%; /* a largura á 100% qunado a tela for de 800px ou menor */
    }
}
