<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Cadastro Clientes</title>
  </head>

  <body>
    <div class="container">
      <h1>Cadastro de Clientes</h1>
      <form id="clientForm">
        <label for="name">Nome: </label>
        <input type="text" id="name" name="name" required /><br />

        <label for="email">Email: </label>
        <input type="text" name="email" id="email" required /> <br />

        <label for="phone">Telefone</label>
        <input type="text" name="phone" id="phone" required />

        <button type="submit">Cadastrar</button>
      </form>

      <div id="message"></div>
      <script src="../static/main.js"></script>
    </div>
  </body>
</html>
