:root{
  --grafite: #01080E;
  --branco: #FFFFFF;
  --destaque: #1b0bf1;
  --cinza-claro: #ffffff81;
  --cinza-escuro: #424444;
  --fonte: 'Prompt' sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--grafite);
  font-family: var(--fonte);
}

.container {
  display: flex;
}

.coluna {
  padding: 1px;
  margin: 0px;
  background-color: #f0f0f0;
  text-align: center;
}

.coluna-1{
  flex: 0 0 10%;
}

.coluna-2{
  flex: 0 0 80%;
}

.coluna-3{
  flex: 0 0 10%;
}