.fundo {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  h2 {
    text-align: center;
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 20px;
  }
  

  input[type="text"] {
    width: calc(100% - 120px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: #4CAF50;
  }


  button {
    padding: 10px 0px;
    width: 8vw;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    float: right;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:active {
    background-color: #388e3c;
  }
  
  .itens {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .itens li {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  .itens li button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    float: left;
  }
  
  .itens li button:hover {
    background-color: #e53935;
  }
  
  .itens li button:active {
    background-color: #d32f2f;
  }
  